{% if msg is not None %}
    <div class="alert alert-success">
  <strong>Success!</strong> {{ msg }}.
</div>
    {% endif %}
<!DOCTYPE html>
 {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login form</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>

  <h2 id='heading'>{{data.name}} </h2>
  <p id='description'>{{data.description}}</p>
  <h3>{{data.date_time}}</h3>
    <div class='wrapper'>
      <img id="img1" src="{{data.img.url}}" alt="erroor">

    <button id="reviews"> Load reviews</button>
    </div>
    <button id="order_button">ORDER</button>
    <button id="cart_button">ADD TO CART</button>

  <div id="reviews_container"> </div>
</body>

<script type="text/javascript">

  p_id= "{{id}}"

  on_load_button=0
  on_post_button=0

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

var order_button_timeout=0

var ob=document.getElementById('order_button')
ob.addEventListener('click',()=>{
  url=`http://127.0.0.1:8000/order?product_id=${p_id}&purpose=order`
  console.log('rpop',order_button_timeout)
  if (order_button_timeout===0) {
  fetch(url).then((response)=>{
    return response.text()
  }).then((b_data)=>{
    y_data=JSON.parse(b_data)
    console.log(y_data.mes)
    setTimeout(set_top,10000)
    order_button_timeout=1
    return 0
  })

  }


})
var cart_button_timeout=0
var ob=document.getElementById('cart_button')
ob.addEventListener('click',()=>{
  url=`http://127.0.0.1:8000/order?product_id=${p_id}&purpose=cart`
  console.log('rpop',cart_button_timeout)
  if (cart_button_timeout===0) {
  fetch(url).then((response)=>{
    return response.text()
  }).then((b_data)=>{
    y_data=JSON.parse(b_data)
    console.log(y_data.mes)
    setTimeout(set_top,10000)
    cart_button_timeout=1
    return 0
  })

  }


})



function set_top(){
  cart_button_timeout=0
  order_button_timeout=0
  return 0
}


  
  



  function show_time(d1){
    date_array=d1.split('-')
    day=parseInt(date_array[0])          
    month=parseInt(date_array[1])-1
    year=parseInt(date_array[2])
    let d=new Date();
    y1=d.getFullYear()-2000
    if ((y1-year)!==0) {
      a=y1-year
      return `${a} years ago`
    }
    m1=d.getMonth();
    if ((m1-month!==0)) {
      a=m1-month
      return `${a} months ago`
    }
    d1=d.getDate();
    if (d1!==day) {
      a=d1-day
      return `${a} days ago`
    }
    else{
      return `today`
    }


  }

  function show_comments(obj){
    auther=obj.auther
    text=obj.Text
    time=obj.date_time
    t=show_time(time)
    var new_form=(` <div class="teext">
    <h3> ${auther} </h3>
    <h3>${t}</h3>
    <p>${text}</p>


    `)
    var form_data=document.createElement("template")
    form_data.innerHTML=new_form.trim()
    x=form_data.content.firstElementChild
    var element=document.createElement("template")
    element.innerHTML=new_form.trim()
    x=element.content.firstElementChild
    var e=document.getElementById("reviews_container")
    e.appendChild(x)
  }

  

  function REPLACE(array){
     i=0
     b_data=array
    while (i<b_data.length){
      t=b_data[i].Text
      console.log(t)
      j=t.indexOf('$%*')
      while (j!==-1){                      
      j=t.indexOf('$%*')                           
      t=t.replace('$%*','"')
      }
      b_data[i].Text=t
      i=i+1
  }


  i=0
  while (i<b_data.length){
    t=b_data[i].Text
    j=t.indexOf('q@#r$')
    while (j!==-1){                      
    j=t.indexOf('q@#r$')
    t=t.replace('q@#r$','<br>')
    }
    b_data[i].Text=t
    i=i+1
  }

  return b_data 


  }

var r_button=document.getElementById("reviews")
r_button.addEventListener('click',()=> {
  if (on_load_button===0) {
    on_load_button=1
    url=`http://127.0.0.1:8000/reveiw_api?products_id=${p_id}&purpose=get_review`

    fetch(url).then((response)=>{
      return response.text()
    }).then((xdata)=>{
      b_data=JSON.parse(xdata)
      b_data=JSON.parse(b_data)
      
      b_data=REPLACE(b_data)
      var new_element=(`
      <div>  

      <textarea id='comment_field' class="text" placeholder="write your post....." name="comment" ></textarea>
      <button id="post_button" class="butt"> POST</button>
      </div>`)

      var element=document.createElement("template")
      element.innerHTML=new_element.trim()
      x=element.content.firstElementChild
      e=document.getElementById("reviews_container")
      e.appendChild(x)

      i=0
      while (i<b_data.length){
        x_obj=b_data[i]
        console.log(x_obj)
        show_comments(x_obj)
        i=i+1
      }

      var post_button=document.getElementById("post_button")
      post_button.addEventListener('click',()=> {
      if (on_post_button===0) {


                                                                             
      on_post_button=1
      var c=document.getElementById('comment_field')
      c1=c.value
      const p_data={comment:c1,product_id:p_id,purpose:'post_reveiw'}
      c.value=''
      header= {
      "Content-Type": "application/json",          
      'X-CSRFToken': csrftoken
      }
      const options={method:"POST",body:JSON.stringify(p_data),headers:header}
 
      url=`http://127.0.0.1:8000/reveiw_api`       
      fetch(url,options).then((response)=>{ 
      return response.text()   
      }).then((y_data)=>{
        result=JSON.parse(y_data)                
        if (result.status===200) {
          obj={auther:result.auther,Text:p_data.comment,date_time:result.date_time}
          show_comments(obj)

        }


      })



      
    }

})



  })

}

  })
    
  











 


</script>



</html>